.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  font-family: 'Muli', sans-serif;
  background: #fafafa;
}

.top-margin{
  margin-top: -5%;
}

.right{
  float: right;
}

.sub-menu{
  padding: 10px;
}

.form, .auth-title{
  width: 30%;
  margin-left: 30%;
}

.badge{
  margin: 0px 10px;
  padding: 5px 10px;
}

.money{
  font-size: 110%;
  margin-left: 5px;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* SIDEBAR STYLE */
.sidebar {
  width: 15%;
  background: #7386D5;
  color: #fff;
  margin-left: -15%;
  transition: all 0.5s;
  position: fixed;
  height: 100vh;
}

.sidebar.is-open {
  margin-left: 0;
  transition: .5s;
}

.sidebar-header {
  background: #6d7fcc;
}

.sidebar-header h3{
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #6d7fcc;
}

.nav-item:hover {
  color: #7386D5;
  background: #fff;
}

.items-menu {
  color: #fff;
  background: #6d7fcc;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  float: right;
  margin-top: 5%;
}

.sidebar-header > a {
  position: relative;
  float: right;
  margin: .5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* CONTENT STYLE */
.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
  transition: all 0.5s, height 0s;
}

.content.is-open {
  margin-left: 15%;
  transition: all 0.5s, height 0s;
}

.current-balance{
  font-size: 150%;
  font-weight: bolder;
}

.input-resp{
  margin-top: 5px;
}

@media only screen and (max-width: 500px) {
  .content.is-open {
    margin-left: 100%;
  }

  .sidebar.is-open {
    width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header a{
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    float: right;
  }
}